@import "./base.css";

body {
  font-size: 14px; 
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
  'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  line-height: 1.6; transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s, background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  background-color: var(--el-bg-color-page);
}

a {
  color: var(--el-text-color-primary);
}

#app {
  height: 100vh;
  width: 100vw;

  padding: 0;
  margin: 0;

  --el-font-size-base: 16px !important
  ;--el-menu-item-font-size: var(--el-font-size-medium) !important;
}

*, *::before, *::after {
  font-weight: bold;
}

::v-deep(.el-carousel) {
  width: 100%;

  .el-carousel__container {
    height: auto;
  }

  img {
    height: 100%;
    display: block;
    margin: auto;
  }

  .carouselImg {
    opacity: 0;
  }

  .el-carousel__indicators--horizontal {
    background: #00000030;
  }
}